

h1{
  text-align: center;
}
p{
  text-align: center;
}

#missão{
  font-size: 20px;
}

img{
  width: 100%;
}

.beneficios{
  background: #FFFFFF;
  padding: 20px;



}

.item{
  font-style: italic;
}

.imagem-beneficios{
width: 50%;

}

ul{

  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.principal{
background-color: #CCCCCC;
  padding: 30px;

}
.enviar{
background-color:orange;
  color:white;
  font-size:15px;
  font-weight:bold;
  border-raudius:8px;
  width:40%;
  pading:15px 0;
  transition:1s all 1s;
}

.enviar:houver {
background-color:red;
  transform:scale(1.2);

  
  }

table{
margin:15px 0 40px;
} 
thead{
background-color: #555555;
  color: #888888;
  font-weight: bold;
}


